@model Spar.Retail.UI.Models.ViewModels.Retailer.Orders.OpenOrderDetailViewModel


<div class="row invoice-container">
    <div class="col-xs-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6>Supplier: @Model.Supplier.SupplierName</h6>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <ul>
                            <li>
                                Supplier Code: @Model.Supplier.SupplierCode
                            </li>
                            <li>Vat Number: @Model.Supplier.VATNumber</li>
                            <li>Telephone: @Model.Supplier.Telephone</li>
                            <li>Fax: @Model.Supplier.Fax</li>

                        </ul>
                    </div>
                    <div class="col-xs-6">
                        <ul>
                            <li>
                                Address:<br />
                                @Model.Supplier.AddressLine1<br />
                                @Model.Supplier.AddressLine2<br />
                                @Model.Supplier.AddressLine3
                            </li>
                            <li>
                                Postal Code: @Model.Supplier.PostalCode
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6>Order: @Model.OrderDetails.OrderBasketId</h6>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <ul>
                            <li>
                                Status: @Model.OrderDetails.OrderBasketStatus
                            </li>
                            <li>
                                UserId : @Model.OrderDetails.UserId
                            </li>
                            <li>
                                Created on: @Model.OrderDetails.CreatedOn
                            </li>
                            <li>&nbsp;</li>

                        </ul>
                    </div>
                    <div class="col-xs-4">
                        <ul>
                            <li>
                                Products: <label id="orderProductTotal">@Model.OrderDetails.TotalProducts</label>
                            </li>
                            <li>
                                Total Price : <label id="orderPriceTotal">@Model.OrderDetails.TotalPrice</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
