@model Spar.Retail.UI.Models.ViewModels.Retailer.CreateOrderViewModel


<div class="col-xs-12 col-md-12">
    <div class="widget">
        <div class="widget-header  with-footer">
            <span class="widget-caption">Suppliers</span>
            <div class="widget-buttons">
                <a href="#" data-toggle="maximize">
                    <i class="fa fa-expand"></i>
                </a>
                <a href="#" data-toggle="collapse">
                    <i class="fa fa-minus"></i>
                </a>
            </div>
        </div>
        <div class="widget-body">
            <div class="table-scrollable">
                <table class="table table-bordered table-striped table-condensed flip-content table-hover">
                    <thead class="flip-content bordered-palegreen">
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Code
                            </th>
                            <th>
                                Address
                            </th>
                            <th>
                                City
                            </th>
                            <th>
                                Postal code
                            </th>
                            <th>
                                Telephone
                            </th>
                            <th>
                                Fax
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Vat No
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Model.Supplier.SupplierName
                            </td>
                            <td>
                                @Model.Supplier.SupplierCode
                            </td>
                            <td>
                                @Model.Supplier.AddressLine1<br />
                                @Model.Supplier.AddressLine2<br />
                                @Model.Supplier.AddressLine3
                            </td>
                            <td>
                                @Model.Supplier.City
                            </td>
                            <td>
                                @Model.Supplier.PostalCode
                            </td>
                            <td>
                                @Model.Supplier.Telephone
                            </td>
                            <td>
                                @Model.Supplier.Fax
                            </td>
                            <td>
                                @Model.Supplier.Email
                            </td>
                            <td>
                                @Model.Supplier.VATNumber
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 col-md-12">
    <div class="widget">
        
        <div class="widget-header bg-palegreen">
            <i class="widget-icon fa fa-barcode"></i>
            <span class="widget-caption">Products</span>
            <div class="widget-buttons">
                <a href="#" data-toggle="config">
                    <i class="fa fa-cog"></i>
                </a>
                <a href="#" data-toggle="maximize">
                    <i class="fa fa-expand"></i>
                </a>
                <a href="#" data-toggle="collapse">
                    <i class="fa fa-minus"></i>
                </a>
            </div><!--Widget Buttons-->
        </div>
        <div class="widget-body">
            <div class="table-scrollable">
                <table class="table table-bordered table-striped table-condensed flip-content table-hover">
                    <thead class="flip-content bordered-palegreen">
                    <tr>
                        <th>
                            ProductCode
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            VAT
                        </th>
                        <th>
                            Barcode
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            UnitOfMeasure
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            PackSize
                        </th>
                        <th>Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var product in @Model.Products)
                    {
                        <tr>
                            <td>
                                @product.ProductCode
                            </td>
                            <td>
                                @product.ProductName
                            </td>
                            <td>
                                @product.ProductDescription
                            </td>
                            <td>
                                @product.VAT
                            </td>
                            <td>
                                @product.Barcode
                            </td>
                            <td>
                                @product.CategoryId
                            </td>
                            <td>
                                @product.UnitOfMeasureName
                            </td>
                            <td>
                                @product.Price
                            </td>
                            <td>
                                @product.PackSize
                            </td>
                            <td>
                                <a href="#" class="btn btn-default btn-xs blue"><i class="glyphicon glyphicon-shopping-cart"></i> Add To Order</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
