@model Spar.Retail.UI.Models.ViewModels.Retailer.Common.OrderBasketsViewModel

@foreach (var basket in Model.OrderBaskets)
{
    <div class="col-xs-12 col-md-12">
        <div class="widget">

            <div class="widget-header bg-blueberry">
                <i class="widget-icon fa fa-shopping-cart"></i>
                <span class="widget-caption">Order Basket: ID: @basket.OrderBasket.OrderBasketId | User ID : @basket.OrderBasket.UserId | @basket.OrderBasket.CreatedOn</span>
                <div class="widget-buttons">
                    <a href="#" data-toggle="config">
                        <i class="fa fa-cog"></i>
                    </a>
                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                </div><!--Widget Buttons-->
            </div>
            <div class="widget-body">
                <div class="table-scrollable">
                    <table class="table table-bordered table-striped table-condensed flip-content table-hover">
                        <thead class="flip-content bordered-blueberry">
                        <tr>
                            <th>
                                ProductCode
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                ProductCode
                            </th>
                            <th>
                                Added
                            </th>
                            <th>
                                Barcode
                            </th>
                            <th>
                                NumberOfUnits
                            </th>

                            <th>
                                PricePerUnit
                            </th>
                            <th>
                                TotalPrice
                            </th>
                            <th>

                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (basket.Products.Any())
                        {
                            foreach (var product in @basket.Products)
                            {
                                <tr>
                                    <td>
                                        @product.ProductCode
                                    </td>
                                    <td>
                                        @product.ProductName
                                    </td>
                                    <td>
                                        @product.ProductCode
                                    </td>
                                    <td>
                                        @product.CreatedOn
                                    </td>
                                    <td>
                                        @product.BarCode
                                    </td>
                                    <td>
                                        @product.NumberOfUnits
                                    </td>

                                    <td>
                                        @product.PricePerUnit
                                    </td>
                                    <td>
                                        @product.TotalPrice
                                    </td>
                                    <td>
                                        <div class="spinner">
                                            <input type="text" id="@product.RetailerOrderBasketItemId" class="spinner-input form-control orderqty-spinner" value="@product.NumberOfUnits" maxlength="3">
                                            <div class="spinner-buttons spinner-sm-button 	btn-group btn-group-vertical">
                                                <button type="button" class="btn spinner-up blue">
                                                    <i class="fa fa-chevron-up"></i>
                                                </button>
                                                <button type="button" class="btn spinner-down danger">
                                                    <i class="fa fa-chevron-down"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <a href="#" data-btntype="updatebasket" data-itemid="@product.RetailerOrderBasketItemId" class="btn btn-default btn-xs blue" data-><i class="glyphicon glyphicon-shopping-cart"></i>Update</a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="10">
                                    No Products in basket
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

<script>

    @*$(document).ready(function() {
        $('*[data-btntype="updatebasket"]').click(function() {
            LoadOrderBaskets(
                @basket.SupplierId,
                @basket.OrderBasketId,
                $(this).data('itemid'),
                $('#' + $(this).data('itemid') + '').val()
            );
        });
    });*@

</script>
